@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500&display=swap');
/* font-family: 'Oswald', sans-serif; */
/* <i class="fa-brands fa-battle-net"></i> */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.white{
    color:#f5f6fa;
}
body{
    font-family: 'Oswald', sans-serif;
    /* overflow: hidden; */
}
ul li{
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor:pointer;
}
.container{
    max-width:1200px;
    width:90%;
    /* border:2px solid blue; */
    margin:auto;
}
.main-nav-design{
    /* border:2px solid red; */
    padding:25px 0;
    
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
    position:fixed;
    width:100%;
    opacity:1;
    z-index:5;
    /* box-shadow:0px 0px 25px 1px#0be881;  */
}
.navbar{
    /* border:2px solid red; */
    display:flex;
    justify-content: space-between;
    
}
.navbar .nav-items{
    /* border:2px solid red; */
    display:flex;
    margin-right:50px;
    align-items: center;
    
}
.navbar .logo{
    letter-spacing: 1.5px;
    font-size:22px;
    font-weight:400;
}
.navbar li{
    margin:0 35px;
    font-weight:300;
}
.main{
    height:100vh;
    /* border:2px solid red; */
    /* background: linear-gradient(to right, #000000, #434343); */
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.8),rgba(0,0,0,.95)),url('./photo-1542831371-29b0f74f9713.jfif') ;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    z-index: 0;
    opacity:.95;
    /* display:flex; */
    /* justify-content: center; */
}
.main::after{
        
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        /* background: rgba(0, 0, 0, 0.6); */
        /* box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px black; */
    }

.face-heading{
    z-index: 0;
    color:white;
    /* border:2px solid red; */
    /* margin:50px auto; */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.004),rgba(0,0,0,.05));
    /* box-shadow:0px 0px 8px #21c87a;  */
    padding:20px 0;
}
.main .heading{
    font-size: 62px;
    letter-spacing: 6px;
    text-transform: capitalize;
    font-weight:200;
    z-index:10;
    /* margin-bottom:80px; */
    margin-top:65px;
    /* box-shadow:0px 0px 25px white; */
}
.face-heading p{
    margin:8px 0;
    letter-spacing: 1px;
    line-height: 35px;
    word-spacing: 2px;
    font-size: 18px;
    border-bottom-right-radius:100px ;
    border-bottom-left-radius:100px;
    border-right:6px solid #850101;
    border-left:6px solid #850101;
    padding:0 25px;
    /* margin-right:85px; */
    margin-bottom: -1px;
    font-weight: 300;
    /* border:2px solid red; */
}
/* .face-heading p::after{
    content:'';
    display: block;
    border-bottom:2px solid #0be881;
    width:55%;
    margin:auto;
} */
.button{
    /* border:2px solid red; */
    display:inline-block;
    margin-top:20px;
    box-sizing: border-box;
}
.button button{
    display:inline-block;
    margin:0 45px;
    padding:12px 30px;
    background-color:#850101;
    border:none;
    outline: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    letter-spacing: 2px;
    border-radius: 100px;
    font-weight:400;
    font-family: 'Oswald', sans-serif;
    box-shadow:0px 0px 10px #960202; 
    z-index:5;
    opacity:.8;
}
.tyre p{
    color: white;
    border:1px solid #850101;
    display: inline-block;
    width:150px;
    height:153px;
    border-radius: 50%;
    z-index:0;
    position:absolute;
    top:495px;
    left:278px;
    box-shadow:0px 0px 8px #940101;
    cursor:pointer;
    overflow:hidden;
}
#second{
    color: white;
    border:1px solid #850101;
    display: inline-block;
    width:157px;
    height:159px;
    border-radius: 50%;
    /* z-index:2; */
    /* z-index:0; */
    position:absolute;
    top:492px;
    left:1011px;
    box-shadow:0px 0px 8px #9c0101;
    cursor:pointer;
    overflow:hidden;
    /* background-color:#1bd57ec7; */
    
}
#bt1{
    /* position:absolute; */
    /* z-index:5; */
    position:relative;
    /* left:-400px; */
    left:-151px;
    /* left:-400px; */
    top:42px;
    z-index:10;
    transition:all .6s ease-in-out;
}

#bt2{
    position:relative;
    left:226px;
    /* left:150px; */
    /* left:728px; */
    top:82px;
    transition:all .6s ease-in-out;
}

.form-page{
    /* border:2px solid red; */
    height:110vh;
    padding:25px 0;
    position: relative;
}
.form-page h1{
    text-align: center;
    /* margin-bottom:80px; */
    /* margin-top:75px; */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 62px;
    margin:45px;
    font-weight:300;
    width:78%;
    margin-left:150px;
    color:linear-gradient(to right, #000000, #434343);
    /* background-color: red; */
    /* visibility:hidden; */
}
.head{
    /* border:2px solid green; */
    /* background-color: #1bd57ec7; */
    color:white;
    padding:14px 0;
    display:flex;
    flex-direction: row-reverse;
    width:60%;
    margin:auto;
    border-radius:50px;
    align-items: center;
    justify-content: center;
    box-shadow:0px 0px 4px 2px #2a2929;
    cursor:pointer;
    /* background: #FFFDD0; */
    /* background: rgba(0, 0, 0, 0.844); */
    /* color:white; */
    /* justify-content: space-evenly; */
}

.head .name{
    order:2;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    margin-top:-20px;
    /* text-align: right; */
}
.head small{
    letter-spacing:.5px;
    font-size: 14px;
    margin-bottom:2px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: 100;
    text-align: left;
    margin-top:2px;
    color:rgba(0, 0, 0, 0.793);
    /* margin-left:-32px; */
}
.head input{
    border:2px solid rgba(0, 0, 0, 0.592);
    padding:8px 5px;
    width:200px;
    outline:none;
    border:none;
    border-radius: 4px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.558);
}
.head .password{
    order:1;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    /* margin-top:20px; */
    margin:0 35px;
    
}
.head input[type="submit"]{
    order:0;
    display:inline-block;
    /* margin-top:20px; */
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:25px;
    width:75px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    color:white;
    border:none;
    outline: none;
    padding:8px 40px;
    border-radius: 4px;
    /* border-radius:50px; */
    background-color: rgb(9, 9, 9);

    
}
.form-design{
    /* border:2px solid red; */
    /* height:65%; */
    /* margin-top:35px; */
    display:flex;
    /* flex-direction:; */
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: flex-end;
}
.form-design h1{
    /* background-color: red; */
    width:57%;
    text-align:left;
    font-weight: 300;
    color:linear-gradient(to right, #000000, #434343)rgba(0, 0, 0, 0.862);
    /* font-family: sans-serif; */
}
.form-design p{
    /* background-color: blue; */
    width:49%;
    letter-spacing: .5px;
    text-transform: capitalize;
    font-size: 18px;
    text-align: left;
    margin-top:-5px;
    font-weight: 300;
}
.form-design .personalInfo{
    /* background-color: green; */
    display: flex;
    width:745px;
    align-items: flex-start;
    justify-content: left;
    margin-top:25px;
    flex-direction: column;
}
.form-design .personalInfo input{
    padding:6px;
    border-radius: 5px;
    text-transform: capitalize;
    margin:3px 0;
    border:2px solid gray;
    outline: none;
    /* width:50%; */
    /* box-shadow: 0px 0px 5px black; */
}
.form-design .DOB{
    /* background-color: orange; */
    width:49%;
    margin-top: 30px;
    /* position:relative; */
   
}
.form-design .DOB p{
    font-weight:400;
    letter-spacing: 1px;
}
.form-design .DOB select{
    display:inline-block;
    width:85px;
    /* position: relative;
    top:0;
    right:0; */
    /* margin-top:25px; */
}
.form-design .DOB #ques{
    /* position: absolute; */
    position:relative;
    top:-17px;
    right:-269px;
    font-size: 14px;
}
.form-design .DOB label{
    text-transform: capitalize;
    letter-spacing: .5px;
    font-weight:300;

}
.form-design .DOB  input[type="radio"]{
    display: inline-block;
    margin-left:5px;
}
.form-design #para{
    /* border:2px solid red; */
    margin-top:15px;
    width:40%;
    margin-right:136px;
    
}

.form-design .btn{
    background: linear-gradient(to right, #000000, #434343);
    padding: 13px 25px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-right: 529px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 65px;
}
#typeWriter{
    position: absolute;
    width: 452px;
    height: 187px;
    top: 491px;
    left: 999px;
    text-align: center;
    box-shadow: 0px 0px 10px #b3acac;
    border-radius: 25px;
    padding: 5px 5px;
    line-height: 35px;
    font-size: 18px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-weight: 300;
}
.footer{
    padding: 45px 0;
    margin-top: 150px;
    background: rgba(0, 0, 0, 0.915);
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
}
.footer p{
    margin:15px 0;
    font-size: 22px;
    letter-spacing: 1px;
}
.footer i{
    font-size: 30px;
    margin:0 15px;
}
/* ############### start here  */
.skills{
    /* border:2px solid red; */
    /* height:110vh; */
    width:100%;
    margin-top:120px;
    padding:85px 45px;
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    align-content: space-around;
    /* width:35%; */
}
.skills .boxs{
    /* border:25px solid red; */
    margin:85px 0;
    position:relative;
    box-shadow: 0px 0px 20px #262626;
    border-radius:20px;
    /* overflow: hidden; */
    display:flex;
    justify-content: space-around;
    

}
.boxs .img{
    width:45%;
    height:100%;
    /* border:2px solid red; */
    text-align: center;
    /* margin:25px auto; */

}
.boxs .img i{
    display:inline-block;
    margin:10px auto;
    font-size:21rem;
    color:#850101;
}
.boxs .text{
    width:45%;
    /* border:25px soid red; */
    /* background-color: red; */
    /* text-align: c; */
    padding:25px 20px;
}
.boxs .text h2{
    letter-spacing: 1.5px;
    font-size: 48px;
    font-weight: 300;
    text-transform: capitalize;
}
.boxs .text p{
    margin:15px 0;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 1px;
}
.boxs .text button{
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #000000, #434343);
    letter-spacing: 1px;
    padding:15px 34px;
    display:inline-block;
    border:none;
    outline:none;
    font-size: 16px;
    text-transform: capitalize;
    border-radius:50px;
    font-weight: 100;
    /* color:white; */
}
.box1{
    /* background-color: red; */
    width:55%;
    height:350px;
    /* margin-right:0px; */
    /* align-self: flex-start; */
}
.box1 .text{
    order:0;
}
.box2 .text{
    order:0;
}
.box2 .img{
    order:5;
}
.box4 .text{
    order:0;
}
.box4 .img{
    order:5;
}
.box2{
    /* background-color: orange; */
    width:55%;
    height:350px;
    position:absolute;
    right:-611px;
    /* align-self: flex-end; */
}
.box3{
    /* background-color: pink; */
    width:55%;
    height:350px;
}
.box4{
    /* background-color: green; */
    width:55%;
    height:350px;
    right:-611px;
}
